* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  min-height: 100vh;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("./images/bg-2.jpg") center/cover no-repeat fixed;
  color: rgba(245, 245, 245, 0.668);
  transition: all 1s;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.668);
}
a:hover {
  color: rgba(169, 169, 169, 0.459);
}
.welcome {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)),
    url("./images/bg-2.jpg") center/cover no-repeat fixed;
  text-shadow: 1px 1px 10px rgb(59, 59, 59);
}
h1 {
  background: rgba(245, 245, 245, 0.276);
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}
.navigation {
  background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.66)),
    url("./images/bg-2.jpg") center/cover no-repeat fixed;
  line-height: 150px;
}
.copyright {
  background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.99)),
    url("./images/bg-2.jpg") center/cover no-repeat fixed;
  font-size: 40px;
  display: block;
}
.gallery {
  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)),
    url("./images/bg-2.jpg") center/cover no-repeat fixed;
}
.about {
  background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)),
    url("./images/bg-2.jpg") center/cover no-repeat fixed;
  text-shadow: 1px 1px 10px rgb(59, 59, 59);
}
.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)),
    url("./images/bg-2.jpg") center/cover no-repeat fixed;
  display: flow-root;
  padding: 50px;
}
img {
  width: 80%;
  height: auto;
  border: 10px solid;
}
.info {
  background: rgba(245, 245, 245, 0.276);
  margin: 100px;
  font-size: 40px;
  color: rgba(245, 245, 245, 0.668);
  line-height: 80px;
  text-shadow: 1px 1px 10px rgb(59, 59, 59);
}
.input {
  display: block;
  margin: auto;
  font-size: 20px;
}
.button {
  background: none;
  border: none;
  color: rgba(245, 245, 245, 0.668);
  font-size: 50px;
  position: fixed;
  bottom: 2%;
}
.social {
  font-size: 80px;
  margin: 30px;
}
html {
  scroll-behavior: smooth;
}
